@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full;
}

body {
	background-image: linear-gradient(to bottom, #eef4f6 0, transparent 400px);
	background-repeat: no-repeat;
	@apply bg-[#fefefe] text-[#383a42] dark:bg-[#272a34] dark:text-[#eee];
}

.dark body {
	background-image: none;
}
