:is(.dark .json-view, .dark.json-view) {
	color: #ccc;
	--json-property: #009033;
	--json-index: #5d75f2;
	--json-number: #5d75f2;
	--json-string: #c57e29;
	--json-boolean: #e4407b;
	--json-null: #e4407b;
}

.dark :is(.json-view--copy, .json-view--edit) {
	color: #d1d1d1;
}
