:is(.dark .json-view, .dark.json-view) {
	color: #d1d1d1;
	--json-property: #009033;
	--json-index: #5d75f2;
	--json-number: #5d75f2;
	--json-string: #c57e29;
	--json-boolean: #e4407b;
	--json-null: #e4407b;
}
:is(.dark .json-view_a11y, .dark.json-view_a11y) {
	color: #d1d1d1;
	--json-property: #ffd700;
	--json-index: #00e0e0;
	--json-number: #00e0e0;
	--json-string: #abe338;
	--json-boolean: #ffa07a;
	--json-null: #ffa07a;
}
:is(.dark .json-view_github, .dark.json-view_github) {
	color: #79b8ff;
	--json-property: #79b8ff;
	--json-index: #79b8ff;
	--json-number: #79b8ff;
	--json-string: #9ecbff;
	--json-boolean: #79b8ff;
	--json-null: #79b8ff;
}
:is(.dark .json-view_vscode, .dark.json-view_vscode) {
	color: #da70d6;
	--json-property: #9cdcfe;
	--json-index: #b5cea8;
	--json-number: #b5cea8;
	--json-string: #ce9178;
	--json-boolean: #569cd6;
	--json-null: #569cd6;
}
:is(.dark .json-view_atom, .dark.json-view_atom) {
	color: #abb2bf;
	--json-property: #e06c75;
	--json-index: #d19a66;
	--json-number: #d19a66;
	--json-string: #98c379;
	--json-boolean: #56b6c2;
	--json-null: #56b6c2;
}
:is(.dark .json-view_winter-is-coming, .dark.json-view_winter-is-coming) {
	color: #a7dbf7;
	--json-property: #91dacd;
	--json-index: #8dec95;
	--json-number: #8dec95;
	--json-string: #e0aff5;
	--json-boolean: #f29fd8;
	--json-null: #f29fd8;
}
